header{
	border: 1px solid black;
	padding: 20px;
}
nav{
	padding: 3px;
	width: 70%;
	text-align: center;
	 margin: auto;
	font-size: 25px;
}
body {
	background-color: black;
	font-family: Helvetica;
}
p {
	color:white;
    text-align: center;
    font-size: 1em;
    margin:auto;
    padding: .75em;
}

li {float: left;
	padding: 5px 12px;
	margin: auto;
	text-align: center;
	font-size: 25px;
	margin: 0;
	top: 50%;
	left: 50%;
	display: absolute;
	font-family:'Lato';
}
h2 {
	width: 40%;
	margin:auto;
	font-size: 125px;
	color: #61BCFF;
	font-family:'Lato';
	display: inline-block;
	background-color: black;
}

#blue { 
	color: #61BCFF;
	margin: auto;
	width: 24%;
	font-size: 5em;
	text-align: center;
	display: block;
	background-color: black;
}

ul{
	color: white;
	font-family: 'Lato';
	font-size: 35px;
	text-align: center;
	list-style-type: none;
	margin: auto;
	width: 100%;
	padding: 0px 200px;
}

.companyintro {
	color: white;
	border: 1px solid black;
	padding: 10px;
	display: block;
	font-family: 'Lato';
	font-size: 35px;
	text-align:center;
}
#designimage { 
	background: url(../images/DesignPage_1.png) no-repeat center center;
	position: relative;
	width:100%;
	background-size: cover;
	height: 600px;
	font-family: 'Lato';
	clear:both;
}
.designintro{
	font-family: 'Lato';
	font-size: 1.5em;
	text-align:center;
	color:white;
	display:block;
}

#allgrid {
    padding:10px 0;
    font-size: 22px;
    width: 100%;
  
}
.pageintro {
	font-family:'Lato';
	font-size:2.5em;
	border:none;
	color:white;
	text-align:center;
	padding:20px;
	font-weight: bold;
}
.contact{
	border:1px solid black;
	padding: 0px;
	color:white;
	font-size:35px;
	font-family:'Lato';
	display: inline-block;
}

.col {
	padding: 0px;
	color:white;
	font-size:35px;
	font-family:'Lato';
	text-align: center;  
}

img { width:87%;
padding:0;}

}
footer{
	font-size: 1em;
	border: 1px solid black;
	padding:30px;
    font-family:'Lato';
    display: none;
    margin: auto;

}

@media only screen and (max-width: 1355px){

	{}

}
@media only screen and (min-width: 1356px) {}
	
}
@media only screen and (max-width: 1355px) {
h2	{
	width: 37%;
	height: 20%;
	text-align: center;
	font-size: 2em;
	color: #61BCFF;
	font-family:'Lato';
	background-color: black;
}
	#blue { 
		color: #61BCFF;
		position: absolute;
		width: 50%;
		font-size: 3em;
		background-color: black;
		margin:auto;
		margin-top:40%;
}

header {
	width: 100%;
}

 	nav {
	padding: 1px;
	width: 100%;
	text-align: center;
	margin: auto;
    font-size:.6em;
}
	#designimage { 
	background: url(../images/DesignPage_1.png) no-repeat center center;
	position: relative;
	width:100%;
	background-size: cover;
	height: 600px;
	font-family: 'Lato';
	opacity: 1;
	clear:both;
}
.pageintro {
	font-family:'Lato';
	font-size:1.5em;
	border:none;
	color:white;
	text-align:center;
	padding:20px;
	font-weight: bold;
	}
.designintro {
	font-family: 'Lato';
	font-size: 1.2em;
	text-align:center;
	color:white;
	display:block;
}
.col {
	padding: 0px;
	color:white;
	font-size:1.2em;
	font-family:'Lato';
	text-align: center;  
}
li {
	float: left;
	padding: 5px 5px;
	margin: auto;
	text-align: center;
	font-size: .3em;
	margin: 0;
	top: 50%;
	left: 50%;
	display: absolute;
	font-family:'Lato';
	width: 21%;
 }

ul{
	color: white;
	font-family:'Lato';
	font-size: 35px;
	text-align: center;
	list-style-type: none;
	margin: auto;
	width:100%;
	padding: 0px 0px;
}
.companyintro {
	color: white;
	border: 1px solid black;
	padding: 10px;
	display: block;
	font-family: 'Lato';
	font-size: 1.5em;
	text-align: center;
	margin: 0;
	width: 80%;
}
.contact {
	border: 1px solid black;
	padding: 0px;
	color: white;
	font-size: 1.5em;
	font-family:'Lato';
	text-align: center;
}
footer {
	font-size: .85em;
	border: 1px solid black;
	padding: 10px;
    font-family:'Lato';
    color: white;
 }
}	
@media only screen and (max-width: 786px) {

h2	{
	width: 37%;
	height: 20%;
	text-align: center;
	font-size: 2em;
	color: #61BCFF;
	font-family:'Lato';
	background-color: black;
}

	#blue { 
		color: #61BCFF;
		position: absolute;
		width: 50%;
		font-size: 3em;
		background-color: black;
		margin:auto;
		margin-top:40%;
}

header {
	width: 100%;
}

 	nav {
	padding: 1px;
	width: 100%;
	text-align: center;
	margin: auto;
    font-size:.4em;
}

	#designimage { 
	background: url(../images/DesignPage_1.png) no-repeat center center;
	position: relative;
	width:100%;
	background-size: cover;
	height: 600px;
	font-family: 'Lato';
	opacity: 1;
	clear: both;
}

.pageintro {
	font-family:'Lato';
	font-size:1.5em;
	border:none;
	color:white;
	text-align:center;
	padding:20px;
	font-weight: bold;
	}

.designintro {
	font-family: 'Lato';
	font-size: 1.2em;
	text-align:center;
	color:white;
	display:block;
}

.col {
	padding: 0px;
	color:white;
	font-size:1.2em;
	font-family:'Lato';
	text-align: center;  
}

li {
	float: left;
	padding: 5px 5px;
	margin: auto;
	text-align: center;
	font-size: .3em;
	margin: 0;
	top: 50%;
	left: 50%;
	display: absolute;
	font-family:'Lato';
	width: 21%;
 }

ul {
	color: white;
	font-family:'Lato';
	font-size: 35px;
	text-align: center;
	list-style-type: none;
	margin: auto;
	width:100%;
	padding: 0px 0px;
}

.companyintro {
	color: white;
	border: 1px solid black;
	padding: 10px;
	display: block;
	font-family: 'Lato';
	font-size: 1.5em;
	text-align: center;
	margin: 0;
	width: 80%;
}

.contact {
	border: 1px solid black;
	padding: 0px;
	color: white;
	font-size: 1.5em;
	font-family:'Lato';
	text-align: center;
}

footer {
	font-size: .85em;
	border: 1px solid black;
	padding: 10px;
    font-family:'Lato';
    color: white;
}
}

@media only screen and (max-width: 500px) {

h2	{
	width: 37%;
	height: 20%;
	text-align: center;
	font-size: 2em;
	color: #61BCFF;
	font-family:'Lato';
	background-color: black;
}
	#blue { 
		color: #61BCFF;
		position: absolute;
		width: 50%;
		font-size: 3em;
		background-color: black;
		margin:auto;
		margin-top:40%;
}
header {
	width: 100%;
}

 	nav {
	padding: 1px;
	width: 100%;
	text-align: center;
	margin: auto;
    font-size:.5em;
}
	#designimage { 
	background: url(../images/DesignPage_1.png) no-repeat center center;
	position: relative;
	width:114%;
	background-size: cover;
	height: 600px;
	font-family: 'Lato';
	opacity: 1;
	clear:both;
}
.pageintro {
	font-family:'Lato';
	font-size:1.5em;
	border:none;
	color:white;
	text-align:center;
	padding:20px;
	font-weight: bold;
	}
.designintro {
	font-family: 'Lato';
	font-size: 1.2em;
	text-align:center;
	color:white;
	display:block;
}
.col {
	padding: 0px;
	color:white;
	font-size:1.2em;
	font-family:'Lato';
	text-align: center;  
}
li {
	float: left;
	padding: 5px 5px;
	margin: auto;
	text-align: center;
	font-size: .3em;
	margin: 0;
	top: 50%;
	left: 50%;
	display: absolute;
	font-family:'Lato';
	width: 21%;
 }

ul{
	color: white;
	font-family:'Lato';
	font-size: 35px;
	text-align: center;
	list-style-type: none;
	margin: auto;
	width:100%;
	padding: 0px 0px;
}
.companyintro {
	color: white;
	border: 1px solid black;
	padding: 10px;
	display: block;
	font-family: 'Lato';
	font-size: 1.5em;
	text-align: center;
	margin: 0;
	width: 80%;
}
.contact {
	border: 1px solid black;
	padding: 0px;
	color: white;
	font-size: 1.5em;
	font-family:'Lato';
	text-align: center;
}
footer {
	font-size: .85em;
	border: 1px solid black;
	padding: 10px;
    font-family:'Lato';
    color: white;
}
}


