header{
	border: 1px solid black;
	padding: 20px;
}
nav{
	padding: 3px;
	width: 70%;
	text-align: center;
	 margin: auto;
	font-size: 3em;
}
body {
	background-color: black;
	font-family: Helvetica;
}
h1,p, {
	color:white;
    text-align:center;
    font-size:25px;
}
li {float: left;
	padding: 5px 15px;
	margin: auto;
	text-align: center;
	font-size: 3em;
	margin: 0;
	top: 50%;
	left: 50%;
	display: absolute;
	font-family:'Anton';
}
h2 {
	width: 45%;
	margin:auto;
	font-size: 7em;
	color: #61BCFF;
	font-family:'Anton';
	display: inline-block;
	background-color: black;
}

#blue { 
	color: #61BCFF;
	position: absolute;
	margin: auto;
	margin-left:-315px;
	line-height: 125px;
	width: 35%;
	font-size: 5em;
	display: block;
	background-color: black;
}
h3{ 
	font-size: 60px; 
	font-family: 'Anton';
	font-weight: 600;
	top: 50%;
    left: 50%;
    margin-right: -50%;
}
ul{
	color: white;
	font-family:'Anton';
	font-size: 35px;
	text-align: center;
	list-style-type: none;
	margin: auto;
	width: 100%;
	padding: 0px 200px;
}

.companyintro {
	color: white;
	border: 1px solid black;
	padding: 10px;
	display: block;
	font-family: 'Anton';
	font-size: 35px;
	text-align:center;
}
#heroimage { 
	background-color:#FFC675;
	border:1px solid black;
	padding:20px;
	background: url(../images/Cityskyline.png) no-repeat center center;
	position: relative;
	width:100%;
	background-size: cover;
	height: 600px;
	font-family: 'Anton';
	opacity: 1;
	clear:both;
}
#allgrid {
    padding:10px 0;
    font-size: 22px;
    width: 100%;
  
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
    font-size: 0;
}

.contact{
	border:1px solid black;
	padding: 0px;
	color:white;
	font-size:35px;
	font-family:'Anton';
	text-align:center;
}

img { width:87%;
padding:0;}

}
footer{
	font-size:20px;
	border:1px solid black;
	padding:30px;
    font-family:'Anton';
    display:none;

}

.allgrid2 {
	display: block;
	min-width:350px;
    padding:10px 0;
    font-size: 22px;
    width: 100%;
    color: black;
}

.allgrid {
    padding:10px 0;
    font-size: 22px;
    width:100%;
    display: block;
    margin: auto;
}


@media only screen and (max-width: 1355px){

	.col{
		width: 17.85%;
		border: 1px white solid;
		color: white;
		text-align: center;
		font-size: 1.2em;
		padding-top: 20px;
		margin:auto;
	}

	#grid2 {
		display: block;
	}
	#grid {
		display: none;
	}

}
@media only screen and (min-width: 1356px) {
	.col{
		width: 19.85%;
		float: left;
		border: 1px white solid;
		color: white;
		text-align: center;
		font-size: 2em;
		height:230px;
	}

	#grid2 {
		display: none;
	}
	#grid {
		display: block;
	}
	
}
@media only screen and (min-width: 1161px) and (max-width: 1355px)
{ 
	h2	{
	width: 31%;
	height: 20%;
	text-align: center;
	font-size: 5.25em;
	color: #61BCFF;
	font-family:'Anton';
	background-color: black;
}

	#blue { 
		color: #61BCFF;
		position: relative;
		width: 29%;
		font-size: 3.25em;
		background-color: black;
		margin:auto;
		margin-left:-80px;
}
}	
@media only screen and (min-width: 787px) and (max-width: 1160px) 
{
	h2	{
	width: 25%;
	height: 20%;
	text-align: center;
	font-size: 2.5em;
	color: #61BCFF;
	font-family:'Anton';
	background-color: black;
}

	#blue { 
		color: #61BCFF;
		position: relative;
		width: 29%;
		font-size: 2.5em;
		background-color: black;
		margin:auto;
		margin-left:-84px;
}

 	nav {
	padding: 1px;
	width: 50%;
	text-align: center;
	margin: auto;
    font-size:.75em;
}
.companyintro {
	color: white;
	border: 1px solid black;
	padding: 10px;
	display: block;
	font-family: 'Anton';
	font-size: 1.5em;
	text-align: center;
	margin: 2em 4em ;
}
.col{
		width: 19.85%;
		border: 1px white solid;
		color: white;
		text-align: center;
		font-size: 1.5em;
		height: 10%;
	}
}
@media only screen and (min-width: 110px) and (max-width: 786px) {
	h2	{
	width: 20%;
	height: 29%;
	text-align: center;
	font-size: 1em;
	color: #61BCFF;
	font-family:'Anton';
	background-color: black;
}

	#blue { 
		color: #61BCFF;
		position: relative;
		width: 25%;
		font-size: 2em;
		background-color: black;
		margin:auto;
		margin-left:-84px;
}
 	nav {
	padding: 1px;
	width: 50%;
	text-align: center;
	margin: auto;
    font-size:.75em;
}

.companyintro {
	color: white;
	border: 1px solid black;
	padding: 10px;
	display: block;
	font-family: 'Anton';
	font-size: 1.5em;
	text-align:center;
	margin: 2em 4em ;
}
.contact {
	border:1px solid black;
	padding: 0px;
	color:white;
	font-size:1.5em;
	font-family:'Anton';
	text-align:center;
}
footer {
	font-size:1.5em;
	border:1px solid black;
	padding: 30px;
    font-family:'Anton';
    display: none;
    text-align: center;
    color: white;
}
.col{
		width: 17.85%;
		float:none;
		border: 1px white solid;
		color: white;
		text-align: center;
		font-size: 1.2em;
	}
}
